{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.username |title }}{% endblock %}

{% block body %}
    <h1>Page de {{ user.username |title }}</h1>

    <turbo-frame>

    </turbo-frame>

    {% for post in user.posts %}
        {{ post }}
    {% endfor %}
{% endblock %}
