{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container-fluid mt-4">
        <div class="row">

            <section class="col-lg-6 m-auto">

                {{ include('shared/assets/mtb_logo.html.twig') }}

                <div class="text-center">
                    {{ component('SocialLinkComponent') }}
                </div>

                <div>
                    {{ component('FormComponent', {typeClass: formClassName}) }}
                </div>

            </section>
        </div>
    </main>
{% endblock %}