{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container">
        <section>
            <h2 class="text-center">
            {{ currentList.year }}
            </h2>
            <table class="m-auto">
                <thead>
                    <th class="pe-5">#</th>
                    <th>Français</th>
                    <th class="ps-5">English</th>
                </thead>
                <tbody>

                {% for prompt in currentList.prompts %}
                    <tr>
                        <td class="pe-5">{{ loop.index }}</td>
                        <td>{{ prompt.nameFr | title}}</td>
                        <td class="ps-5">{{ prompt.nameEn | title}}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
