{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container-fluid mt-4">
        <div class="row">

            <section class="col-lg-6 col-md-5 m-auto">
                {{ include('shared/assets/mtb_logo.html.twig') }}

                <div class="d-md-block">
                    {{ component('ListComponent', {year: year}) }}
                </div>

            </section>
        </div>
    </main>
{% endblock %}
