{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container row">
        {#        LEFT BAR ----------------------------------------- -#}
        <section class="col">
            {# <header class="row">
                <img
                        src="{{ asset('build/images/Logo_MTB.png') }}"
                        alt="Logo du Motiontober"
                        class="img-fluid mx-auto mt-3"
                >
            </header> #}
            {% include('home/_list.html.twig') %}
        </section>
        {#        END LEFT BAR ------------------------------------- -#}
        {#        CENTER BAR --------------------------------------- -#}
        <section class="col">

            <div>

                {{ include('shared/post/_gallery.html.twig', { posts: posts }) }}

            </div>


        </section>
    </main>
{% endblock %}
