{% extends 'base.html.twig' %}

{% block title %}New PromptList{% endblock %}

{% block body %}
    <h1>Create new PromptList</h1>

    {{ include('prompt_list/_form.html.twig') }}

    <a href="{{ path('app_prompt_list_index') }}">back to list</a>
{% endblock %}
