{% extends 'base-admin.html.twig' %}

{% block sidebar %}
    <ul>
        {% for entityName in names %}
            <li class="list-unstyled">
                <a class="btn btn-primary" href="/admin/{{ entityName }}">
                    {{ entityName|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body %}
    {% if forms is defined and forms is not empty %}
        {{ include('/admin/_admin-crud.html.twig') }}
    {% endif %}
{% endblock %}
