<form
        method="post"
        action="{{ path(route, {'id': itemId}) }}"
        onsubmit="return confirm('Sur de chez sur ?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itemId) }}">
    <button class="btn btn-danger {{ btnClass|default('') }}">
        <i class="bi bi-{{ icon|default('trash') }}"></i>
    </button>
</form>