{% extends 'base.html.twig' %}

{% block title %}New Prompt{% endblock %}

{% block body %}

    <main class="container">

    <h1>Ajouter un mot</h1>

    {{ include('prompt/_form.html.twig') }}

    <a href="{{ path('app_prompt_index') }}">back to list</a>

    </main>
{% endblock %}
