<div class="d-flex justify-content-center align-items-center">
    <img
            src="{{ asset('build/images/Logo_MTB.png') }}"
            alt="Logo du Motiontober"
            class="img-fluid mx-auto mt-3 w-50"
    >
</div>