<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{% block modalID %}{{ modalID }}{% endblock %}">
  {% block buttonLabel %}{{ buttonLabel }}{% endblock %}
</button>