<!-- Button trigger modal -->
<button type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#{% block modalID %}{{ modalID }}{% endblock %}">
  {% block buttonLabel %}

    {% if buttonLabel == 'add' %}
      {{ addBtn|raw }}
    {% else %}
      {{ buttonLabel }}
    {% endif %}

  {% endblock %}
</button>