{% extends 'modal-window-base.html.twig' %}

{% block modalID %}{{ modalID }}{% endblock %}

{% block modalTitle %}{{ title }}{% endblock %}

{% block modalBody %}

  <div data-modal-window-target="output">

{#    <img#}
{#      src="{{ asset('images/posts/') }}"#}
{#      class="img-fluid p-0 m-1"#}
{#    >#}
  </div>
{% endblock %}

{% block footer %}{% endblock %}