<div {{ attributes }}>
    <div class="text-center w-100">
        <input
                type="search"
                data-model="query"
                data-value=""
                placeholder="Cherche n'importe quoi..."
                class="w-100"
                id="live-post-search"
                {{ stimulus_action('postsearch', 'type', 'input') }}
        >
    </div>

    {% if computed.posts|length > 0 %}
        <div
                data-loading="addClass(opacity-50)"
                class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 "
        >
            {{ include('shared/post/_gallery.html.twig', {posts: computed.posts, rich: true}) }}
        </div>
    {% else %}
        <div class="pt-3">Ah! No packages found matching "{{ query }}"</div>
    {% endif %}
</div>