<div {{ attributes }}>
    <div class="text-center w-100">
        <input
                type="search"
                data-model="query"
                placeholder="Cherche n'importe quoi..."
                class="w-25"
        >
    </div>

    {% if computed.posts|length > 0 %}
        <div
                data-loading="addClass(opacity-50)"
                class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 "
        >
            {{ include('shared/post/_gallery.html.twig', {posts: computed.posts}) }}
        </div>
    {% else %}
        <div class="pt-3">Ah! Rien ne correspond à "{{ query }}" !!</div>
    {% endif %}
</div>